# 디폴트 무시된 파일
/../../../../내 드라이브/2025/heum-app/.idea/shelf/
/../../../../내 드라이브/2025/heum-app/.idea/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/../../../../내 드라이브/2025/heum-app/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../내 드라이브/2025/heum-app/.idea/dataSources/
/../../../../내 드라이브/2025/heum-app/.idea/dataSources.local.xml
